{<<"links">>,[{<<"GitHub">>,<<"https://github.com/jkwchui/opencc_ex">>}]}.
{<<"name">>,<<"opencc">>}.
{<<"version">>,<<"0.3.2">>}.
{<<"description">>,
 <<"Simplified-Traditional Chinese conversion, via ferrous-opencc Rust crate as NIF">>}.
{<<"elixir">>,<<"~> 1.14">>}.
{<<"app">>,<<"opencc">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/native.ex">>,<<"lib/opencc.ex">>,<<"native/opencc/src">>,
  <<"native/opencc/src/lib.rs">>,<<"native/opencc/Cargo.toml">>,
  <<"native/opencc/Cargo.lock">>,<<"checksum.exs">>,<<"mix.exs">>,
  <<"README.md">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"rustler">>},
   {<<"app">>,<<"rustler">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 0.37">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"rustler_precompiled">>},
   {<<"app">>,<<"rustler_precompiled">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"0.9.0">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
